#
# Controls the Firmware running on PICO
#

# PICO Virtual RAM $3000-$37EF (required)
EnablePicoRAM=1

# Floppy Boot Block, used for normal booting.
EnableFDCBoot=1
# FDCBOOT=/SYS/BOOT.SYS

# FreHD Boot Block, if using FreHD auto-boot
# Note: Generally floppy boot is preferred
EnableFreHDBoot=0

# Enable 32 KB Hi RAM, if running on 16KB
EnableHighRAM=0

# Enable use of wait states for fast CPU's
EnableWaitStates=0

#Enable the Generation of 40Hz interrupts
EnableInterrupts=1
